html {
  background-color: white;
  background-color: hsl(0, 0%, 75%);
  color: black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
}
html body {
  min-height: 100%;
  transition: 2s background-color;
  display: flex;
  justify-content: center;
}
html body #wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
  gap: 1rem;
  max-width: 60rem;
  width: 100%;
}
html body #wrapper #top-section #title-box h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  font-size: 2.85rem;
  margin: 0;
  padding: 1rem 0;
}
html body #wrapper #top-section #navigation {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}
html body #wrapper #top-section #navigation .btn {
  height: 3.083125rem;
  flex: 1;
}
html body #wrapper #top-section #navigation #change-units {
  white-space: nowrap;
  order: -1;
  min-width: 3.801875rem;
}
html body #wrapper #top-section #navigation #search-box {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: center;
}
html body #wrapper #top-section #navigation #search-box #search-input {
  border: solid black 0.0625rem;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.5rem;
  flex: 1;
  z-index: 1;
}
html body #wrapper #top-section #navigation #search-box #search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  min-width: 0;
  flex: none;
  min-width: 3.801875rem;
}
html body #wrapper #top-section #navigation #find-btn {
  order: -1;
  min-width: 3.801875rem;
}
html body #wrapper #loading-spinner {
  justify-content: center;
  display: flex;
}
html body #wrapper #loading-spinner .fa-cog {
  color: black;
  opacity: 0.25;
}
html body #wrapper #weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
html body #wrapper #weather-container #img-card img {
  width: 12.5rem;
  height: 12.5rem;
  aspect-ratio: 1/1;
  filter: contrast(1.11);
}
html body #wrapper #weather-container #img-card,
html body #wrapper #weather-container #main-card,
html body #wrapper #weather-container #secondary-card,
html body #wrapper #weather-container #tommorow-card,
html body #wrapper #weather-container #after-tommorow-card,
html body #wrapper #weather-container #next-card {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.2);
  border: solid 0.0625rem white;
}
html body #wrapper #weather-container .day {
  font-size: 1.25rem;
  font-weight: 300;
}
html body #wrapper #weather-container .temp {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-size: 2rem;
}
html body #wrapper #weather-container .icon {
  width: 6.25rem;
  height: 6.25rem;
  aspect-ratio: 1/1;
  filter: contrast(1.11);
}
html body #wrapper #weather-container #main-card h1 {
  font-weight: 500;
  font-size: 2rem;
}
html body #wrapper #weather-container #main-card #temperature {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}
html body #wrapper #weather-container #secondary-card p {
  font-weight: 500;
  font-size: 1.25rem;
  font-weight: 300;
}
html body #wrapper #weather-container #secondary-card p span {
  font-weight: 700;
}
html body #wrapper #bottom-section #sample-locations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.0625rem, 1fr));
  gap: 0.5rem;
}
html body #wrapper #bottom-section #sample-locations .btn {
  white-space: nowrap;
  line-height: 1.33rem;
  padding: 0.75rem 0.5rem;
}
html body #wrapper #bottom-section #footer {
  font-size: 0.875rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
html body #wrapper #bottom-section #footer #signature {
  display: flex;
  align-items: center;
  height: 2.125rem;
  white-space: nowrap;
}
html body #wrapper #bottom-section .fa-github {
  color: black;
  opacity: 0.75;
  transition: transform 0.5s ease-in-out;
}
html body #wrapper #bottom-section .fa-github:hover {
  opacity: 100%;
  transform: rotate(360deg) scale(1.2);
}
html body #wrapper .btn {
  border-radius: 0.25rem;
  border: solid black 0.0625rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: inherit;
  font-weight: inherit;
}
html body #wrapper .btn:hover {
  background-color: hsl(0, 0%, 90%);
}
html body #wrapper .hide {
  display: none !important;
}

#change-units b {
  font-weight: 900;
}

@media only screen and (min-width: 30rem) {
  html body #wrapper #top-section #navigation {
    flex-wrap: nowrap;
  }
  html body #wrapper #top-section #navigation .btn {
    flex: 0;
  }
  html body #wrapper #top-section #navigation #change-units {
    order: unset;
  }
  html body #wrapper #top-section #navigation #search-box {
    flex: 0;
    flex-basis: 19.333125rem;
  }
  html body #wrapper #top-section #navigation #find-btn {
    order: unset;
  }
  html body #wrapper #weather-container #img-card,
  html body #wrapper #weather-container #main-card,
  html body #wrapper #weather-container #secondary-card,
  html body #wrapper #weather-container #tommorow-card,
  html body #wrapper #weather-container #after-tommorow-card,
  html body #wrapper #weather-container #next-card {
    flex: 0 0 17.25rem;
    aspect-ratio: 1/1;
  }
}/*# sourceMappingURL=style.css.map */